.container {
    display: grid;
     width: 100%; 
    /* height: 250px; */
    grid-template-areas:
      "head"
      "body";
      grid-template-columns: minmax(0,100%);
   margin: 0 auto;
    overflow: none;
  }
  
  .contentHeader {
    position: sticky;
    grid-area: head;
    height: 8vh;
  }
  
  .contentBody {
    grid-area: body;
    /* background: black; */
    max-height: calc(100vh - 80px);
    height: 100%;
    overflow: scroll;
  }
  html {
    max-width: 100%;
    overflow-x: hidden;
}